{% include "header.twig" %}

<div class="bg-home">
	<h1 style="color:{{host.color}}">Encontre sua nova casa no {{host.name}}</h1>
</div>

<div class="container">
{% for imovel in imoveis %}
	<div class="imovel">
		<img src="/Imagens/1/1.jpg" alt="">
		<h3>R$ {{imovel.LOCACAO_VALOR|number_format(2, ',', '.')}}</h3>
	</div>
{% endfor %}
</div>

{% include "footer.twig" %}
