@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f1f1f1;
}

.top-menu{
	background: white;
    height: 68px;
    width: 100%;
    z-index: 9999999;
    position: fixed;
    top: 0;
}

.action-menu{
	padding: 15px;
    float: left;
    width: 80%
}

.top-menu i{
	color: #fff;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.page-logo{
	width: 195px;
    background: #7fbcec;
    height: 68px;
    padding: 8px;
    float: left;
}

.left-menu{
	height: 5000px;
    width: 195px;
    margin-top: 68px;
    background: #2a4961;
    float: left;
}

.left-menu li{
	padding-top: 15px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #375a75;
    padding-bottom: 12px;
    cursor: pointer;
}

.left-menu li:hover{
	background: #1f3546;
}

.left-menu i{
	text-align: center;
    width: 100%;
    color: #7792a7;
    font-size: 25px; 
}

.left-menu h2{
	font-size: 15px;
    color: #d6d2d2;
    text-align: center;
    margin: 0;
}

.btn-info-radius{
	color: #7fbcec;
    background-color: #FFF;
    border-color: #7fbcec;
    border-radius: 20px;
    transition: 0.3s;
}

.btn-info-radius:hover{
	transition: 0.3s;
	background: #7fbcec;
	color: #FFF;
}

.icon-search-menu{
	margin-top: 8px;
    color: #757575;
}

.icon-notification{
	float: right;
    font-size: 24px;
    color: #2a4961;
    margin-right: 30px;
    margin-top: 10px;
}

.number-notification{
	position: absolute;
    background: #7fbcec;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    top: -11px;
    font-size: 14px;
    padding: 6px;
    font-weight: bold;
    color: white;
    line-height: 0.7;
    font-family: monospace;
}

.action-menu input[type=text]{
	transition: 0.4s;
	float: left;
    width: 150px;
    margin-left: 15px;
    border: 1px solid #FFF;
    box-shadow: none;
}

.action-menu input[type=text]:focus{
	width: 250px;
	transition: 0.4s;
}

.avatar{
	float: right;
    background: #FFF;
    margin-top: -6px;
}

.avatar button{
	background: #FFF;
    border: none;
}

.avatar img{
	width: 40px;
	border-radius: 20px;
}

.container{
	float: left;
    height: 500px;
    width: 85%;
    margin-top: 68px;
    padding: 15px;
}

.container-two{
    background: #FFF;
    border: 1px solid #4fb2ff;
}

.container-one{
    margin-top: 15px;
    background: #FFF;
    padding: 10px;
    border: 1px solid #d0cdcd;
}

.imovel{
    width: 300px;
    float: left;
    background: #FFF;
    border: 1px solid #e4e3e3;
    margin:10px;
}

.imovel-container{
    position: relative;
}

.container-control{
    background: #4fb2ff;
    width: 100%;
    margin: 0;
    padding: 10px;
    color: #ffffff;
}

.slick-slide img {
    display: block;
    width: 370px;
    height: 250px;
}

.slick-arrow{
    position: absolute;
    top: 50%;
    background: #4fb2ff;
    color: #FFF;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    z-index: 99;

}

.slick-arrow:focus{
    border: none;
}

.slick-prev{
    left: 0;
}

.slick-next{
    right: 0;
}