<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="WIN1252" />
  <link rel="icon" type="image/png" href="assets/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>SmartImóveis</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Animation library for notifications   -->
    <link href="/assets/css/animate.min.css" rel="stylesheet"/>
    <!-- main style  -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

     <script src="/assets/js/jquery-3.1.1.min.js"></script>
</head>
<body>

<div class="top-menu">
    <div class="page-logo">
        <img src="/Imagens/sm-p.png" alt="">     
        <i class="material-icons">menu</i>
    </div>
    
    <div class="action-menu"> 

        <div class="btn-group" style="float:left">
          <button type="button" class="btn btn-info-radius dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            ADD <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Imóvel</a></li>
            <li><a href="#">Cliente</a></li>
            <li><a href="#">Contrato</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Corretores</a></li>
          </ul>
        </div>

        <input type="text" placeholder="Buscar ..." class="form-control" />
        <span class="glyphicon glyphicon-search icon-search-menu" aria-hidden="true"></span>


        <div class="btn-group avatar">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <img src="/Imagens/avatar.png">
            Leo <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>

        <span class="glyphicon glyphicon-home icon-notification" aria-hidden="true">
            <p class="number-notification">5</p>
        </span>

         <span class="glyphicon glyphicon-envelope icon-notification" aria-hidden="true">
            <p class="number-notification">2</p>
        </span>

         <span class="glyphicon glyphicon-send icon-notification" aria-hidden="true">
            <p class="number-notification">2</p>
        </span>
       


    </div>

</div>

<div class="left-menu">
    
    <ul>
        <li>
            <a href="/sistema/imoveis">
                <i class="material-icons">home</i>
                <h2>Imóveis</h2>
            </a>
        </li>

         <li>
            <a href="/sistema/construtor">
                <i class="material-icons">build</i>
                <h2>Construtor</h2>
            </a>
        </li>

        <li>
            <a href="/sistema/usuario">
                <i class="material-icons">perm_identity</i>
                <h2>Usuários</h2>
            </a>
        </li>

        <li>
            <a href="/sistema/mapa">
                <i class="material-icons">room</i>
                <h2>Mapa</h2>
            </a>
        </li>

          <li>
            <a href="#">
                <i class="material-icons">turned_in_not</i>
                <h2>Tarefas</h2>
            </a>
        </li>

          <li>
            <a href="#">
                <i class="material-icons">assignment</i>
                <h2>Contratos</h2>
            </a>
        </li>

    </ul>

</div>

<div class="container">