{% include "dashboard/header.twig" %}
	{% for imovel in imoveis %}
		<a href="/sistema/imovel/{{imovel.ID_IMOVEL}}">
			<div class="imovel">
				<div class="imovel-container">
					<img width="300" src="/Imagens/{{imovel.ID_IMOVEL}}/1.jpg" alt="">
					<span>{{imovel.CARACTERISTICAS}}</span>|
					{% if imovel.LOCACAO == "V" %}
						<span class="status-locacao">Locação</span>|
					{% endif %}
					{% if imovel.VENDA == "V" %}
						<span class="status-venda">Venda</span>|
					{% endif %}
					<span>{{imovel.endereco.ENDERECO}}</span>|
					<h3>R$ {{imovel.LOCACAO_VALOR|number_format(2, ',', '.')}}</h3>
				</div>
			</div>
		</a>
	{% endfor %}
{% include "dashboard/footer.twig" %}