{% include "dashboard/header.twig" %}
<link rel="stylesheet" type="text/css" href="/assets/slick/slick.css"/>
<script type="text/javascript" src="/assets/slick/slick.min.js"></script>

<h3 class="container-control">Imóvel #{{imovel.ID_IMOVEL}}</h3>
<div class="container-two">
	<div class="slider">
	{% for foto in imovel.fotos %}
		<div><img width="300" src="{{foto}}" alt=""></div>
	{% endfor %}
	</div>
</div>

<div class="container-one">
	<form>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Classificação</label>
	    <select name="tipo" class="form-control" style="width:350px;">
	    	<option value="r">Residencial</option>
	    	<option value="c">Comercial</option>
	    	<option value="l">Loteamento</option>
	    </select>
	    <div class="status">
	      <div class="checkbox">
		    <label>
		      <input type="checkbox" name="venda" value="V">Venda
		    </label>
		  </div>
		   <div class="checkbox">
		    <label>
		       <input type="checkbox" name="locacao" value="L">Locação
		    </label>
		  </div>
		 </div>
		  
	  </div>
	</form>
	<pre>
		{{dump(imovel)}}
	</pre>
</div>

<script>
	$('.slider').slick({
	  infinite: true,
	  slidesToShow: 3,
	  slidesToScroll: 3,
	  prevArrow: '<button type="button" class="slick-prev"><</button>',
	  nextArrow: '<button type="button" class="slick-next">></button>'
	});
</script>

{% include "dashboard/footer.twig" %}