{% include "dashboard/header.twig" %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7gzGhfbeKfgsexonuX5dL5Qt0pPFDRi8&callback=initMap"
        async defer></script>
<style>
   html, body {
     height: 100%;
     margin: 0;
     padding: 0;
   }
   #map {
     height: 100%;
   }
 </style>

<div id="map"></div>

<script>
var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 8
  });
}
</script>

{% include "dashboard/footer.twig" %}